/* stylesheet */

body {
	font-family: "GRAPHIK";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #242424;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(-45deg, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-45deg, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
}

* {
	-webkit-font-smoothing: antialiased;
}

.title {
	font-size: 72px;
	color: #FFF;
	margin: 0;
	margin-bottom: 20px;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

.play-button {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	padding: 15px 30px;
	font-weight: 600;
	transition: all 0.25s ease;
	background-color: #44B449;
	color: #FFF;
}

.play-button:hover {
	transform: scale(1.1);
}

.wrapper {
	position: relative;
	display: flex;
	width: 100vw;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.video-wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #000;
}

.video-container {
	display: flex;
	width: 100%;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s ease;
}

.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
}

.control-buttons {
	background-color: #FFF;
	padding: 10px;
	margin: 5px 5px 10px 5px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.video {
	height: 100vh;
}

.active {
	transition: all 0.5s ease;
}

.disabled {
	pointer-events: none;
	background-color: transparent;
	border-color: transparent;
	background-image: url(../assets/images/loader.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1s ease;
	width: 84px;
	height: 54px;
}

.switch {
	transition: all 1s ease;
}

.switch:hover {
	transform: rotate(-360deg);
}


