@charset "UTF-8";
/* CSS Document for POV film */

body {
	margin:0;
	padding:0;
	background:#2c2c2c;
	color:#FFF;
	font-family:"Playfair Display";
	overflow:hidden;
}
button {
	font-family:"Montserrat";
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:400;
	outline:none;
	background-color:#FFF;
	border:none;
	padding:6px;
	color:#2c2c2c;
}

button:hover  {
	background-color:#FFF;
	color:#000;
}

video {
	width:100vw;
	height:100vh;
	padding:0;
	margin:0;
}

/* div elements */
.pageContainer {
	width:100vw;
	height:100vh;
}
.pageFlexContainer {
	height:500px;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

.controlsContainer {
	text-align:center;
}

.filmContainer {
	position:relative;
	width:100%;
	height:100vh;
	background-color:transparent;
}
.switchContainer {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	z-index:101;
}
.filmOne {
	position:absolute;
	top:0;
	width:100vw;
	background-color:black;
	z-index:100;
}

.filmTwo {
	position:absolute;
	top:0;
	width:100vw;
	background-color:black;
	z-index:99;
}


button.playButton:after {
	content:" ▶";
}


	

/* styling elements */

h1,h2 {
	margin:0;
}

h1.filmTitle {
	font-size:8em;
	color:#FFF;
	font-family: 'Playfair Display', serif;
	font-weight:700;
	letter-spacing:-5px;
	font-style:italic;
	line-height:120px;
	width:500px;
}

h3.userInstructions {
	font-family:"Playfair Display";
	font-size:14px;
	letter-spacing:0px;
	font-weight:200;
}

button.playButton {
	transition:0.5s ease-in-out;
	border-radius:5px;
	margin-top:30px;
	background-color:#23cf5f;
	color:#FFF;
}
button.playButton:hover {
	letter-spacing:5px;
	transition:0.5s ease-in-out;
	background-color:#23cf5f;
	color:#FFF;
}
button.switchButton {
	font-size:16px;
	transition:0.5s ease-in-out;
}
button.switchButton:hover {
	transition:0.5s ease-in-out;
}

span.rotateArrow {
	display:inline-block;
	font-weight:bolder;
}

button.switchButton > span.rotateArrow {
	transition: 1s ease-in-out;
}
button.switchButton:hover > span.rotateArrow {
	transform: rotate(-360deg);
	transition: 1s ease-in-out;
}

